.login-form .red-text {
    padding-bottom: 20px;
}

.messageWrapper {
    position: relative;
    right: inherit;
    bottom: inherit;
    padding-top: 0;
    width: 90%;
    display: inline-block;
}

.messageWrapper.fixed-action-btn.horizontal ul {
    width: auto;
    right: 0;
    top: 12px;
    height: 50px;
}

.message {
    height: auto;
    border-radius: 25px;
    font-size: 15px;
    cursor: pointer;
    max-width: 100%;
    word-wrap: break-word;
}

.message > img {
    height: 45px;
    width: 45px;
}

.myMessage {
    background-color: #0D47A1 !important;
    color: white;
}

.messageText {
    display: inline;
}

.messagePanel {
    margin-top: 12px;
}

.messageList {
    height: 400px;
    overflow-y: auto;
}

.like {
    font-size: 12px;
    float: right;
    margin-right: 5px;
}

.like i {
    font-size: 15px;
}

.channel:hover {
    background-color: #0288d1 !important;
}

.channelHeader {
    width: 88%;
    display: inline-block;
}

.channelMenuBtn {
    position: absolute;
    right: inherit;
    bottom: inherit;
    display: inline-block;
}

.channelsList {
    height: 470px;
    overflow-y: auto;
    overflow-x: hidden;
}

.channel-detail-avatar {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    vertical-align: middle;
}

.channel-detail-user {
    overflow-x: auto;
    margin-bottom: 10px;
}

.profile-page {
    margin-top: 20px;
}

.profile-avatar-img {
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    box-shadow: 1px 1px 2px 2px #ee6e73;
}

.profile-info{
    height: 200px;
    margin: 10px 0 20px 0;
    text-align: center;
}

.profile-info-field {
    margin-bottom: 40px;
}

.profile-info-field > h5 {
    padding-bottom: 5px;
    margin: 10px auto;
    border-bottom: solid 2px #ee6e73;
    border-radius: 10px;
}

.profile-edit {
    height: 150px;
}

.profile-edit-name {
    height: 100px;
}

.profile-edit-name .input-field > input{
    margin-bottom: 2px;
}

.avatar-dropzone {
    text-align: center;
    vertical-align: middle;
    height: 150px;
    margin: 20px 0;
    color: #ffffff;
    background-color: #26a69a;
    border-radius: 5px;
    transition: .3s ease-out;
}

.avatar-dropzone:hover {
    cursor: pointer;
    background-color: #2bbbad;
}
